@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Pacifico&display=swap');
@import 'tailwindcss';

* {
  @apply transition-colors duration-300;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-pacifico: 'pacifico', 'cursive';
  --font-arabic: 'Noto Sans Arabic', system-ui, sans-serif;
  --color-bg: #ffffff;
  --color-fg: #111827;
}

html[lang='ar'] {
  font-family: var(--font-arabic);
  line-height: 1.75; /* looser Arabic line-height */
  letter-spacing: 0; /* disable Latin tracking */
}


@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.animate-waving-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}